html{
    background-color: rgba(178, 212, 28, 0.349); 
    margin: 20px; 
    
}

.titulo-principal{
    color: blue;
    background-color: rgba(151, 36, 151, 0.192);
    text-decoration: underline;
    text-indent: 3px;
}

.codigo-exemplo{
    color: brown;
    text-decoration-style: dotted;
    background-color: rgba(166, 171, 218, 0.295);
}

p{
    color: rgb(56, 9, 78);
    font-style: italic;
    font-size: larger;
    
}
.como-fica{
    color: rgb(12, 184, 26);
}
a:hover{
    background-color: red;
    background-size: 20px;
}
h3:hover{
    color: blue;
}
