a:hover{
    color: rgb(14, 185, 66);
}





















header h1:{
    color: blue;
    
} 
#titulo-primeira-aula{
    color: black;
    
}
.texto-vermelho{
    color: rgb(6, 99, 44);
     
}



#titulo-segunda-aula{
    color: brown;
    text-transform: uppercase;
}



main p{
    color: rgba(13, 13, 14, 0.966);
    text-transform: capitalize;
    
}